@use 'normalize';
@use 'typography';
@use 'layout';
@use 'nav-basic';
@use 'responsive';

// If you add another partial then make sure to:
//    1. Put an underscore _ at the beginning of the name and end with .scss
//    2. add an @use above to include it. DO not add the .scss

/* ================= ===========================
  ADD YOUR CSS HERE 
  ================================================ */
main, footer{
  clear:both;
}

.layer{
  background-color: transparent;
}
